
Server/TeamServer/.idea/
Server/TeamServer/out/
Client/build-QtClient-Desktop_Qt_5_12_4_MinGW_64_bit-Debug/
Client/Application01/Application01.pro.user
Client/Application01/Application01.pro.user.9acc538