* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background: #16151E;
    background: url("../images/back_login.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div.main {
    align-content: center;
}

div.create_user {
    background: #282930;
    width: 300px;
    height: 500px;
    vertical-align: middle;
    border-radius: 10px;
    transform: translate(calc(50vw - 150px), calc(50vh - 250px));
}

.create_user>div {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1.create_user {
    color: white;
    font-size: 25px;
}

img.create_user {
    width: 100px;
    height: 100px;
}

input.create_user {
    width: 230px;
    height: 10px;
    padding: 10px;
    background: #282930;
    border-radius: 10px;
    border: 1px solid #03DAC5;
    font-size: 15px;
    color: white;
    outline: none;
}

div.create_user_subtitle {
    width: 230px;
    padding: 10px;
}

span.create_user_subtitle {
    color: #4D4F5B;
    font-size: 15px;
}

span.create_user_header1 {
    font-size: 30px;
    color: #03DAC5;
}

span.create_user_header2 {
    font-size: 30px;
    color: white;
}

button.create_user_create {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    background: #03DAC5;
    color: #282930;
    border: none;
}

button.create_user_create:hover {
    background: #029284;
}

button.create_user_create:active {
    background: #dbe1ff;
}